body{
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    
}

.container{
    margin: 0 auto;
    border: 1px solid  black;
    width: 700px;
    text-align: center;
    padding: 1em;

}

.container h2 {
color: cadetblue;
}

.container #tips  {
    color: rgb(23, 117, 54);
    text-align: left;
}